@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@200;500&display=swap');

:root {
    --color1: #FFFFFF;
    --color2: #F9F9F9;
    --color3: #1B1C1D;
    --color4: #949281;
    --color5: #EDF0E4;
    --color6: #edf0e4b0;
    --color7: #4E575C;
    --color8: #E9967A;
    --color9: #76756a;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Kodchasan', sans-serif;
    font-weight: 200;
}

body {
    background-color: var(--color1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

html ::-webkit-scrollbar {
    width: 10px;
}
html ::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: var(--color9);
}
html ::-webkit-scrollbar-thumb:hover {
    background: var(--color4);
}
html ::-webkit-scrollbar-track {
    background-color: transparent;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 100px;
}

.logo {
    width: 100px;
    height: 100px;
}

.nomeUsuario {
    transition: .2s all ease-in-out;
    color: var(--color7);
}

.nomeUsuario:hover {
    font-size: 1.52rem;
    cursor: pointer;
}

.infoUser {
    width: 350px;
    height: 210px;
    position: fixed;
    top: 7%;
    right: 2%;
    box-shadow: -1px 2px 5px #afaeae;
    border-radius: 15px;
    color: var(--color7);
    flex-direction: column;
    align-items: center;
    z-index: 99;
}

.oculto {
    display: none;
}
.mostrar {
    display: flex;
}

.email {
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.opcoesUser {
    width: 90%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}
.opcoesUser:hover {
    border-radius: 10px;
    background-color: var(--color5);
}

.fa-circle-question {
    margin-right: 20px;
}

.fa-comment-dots {
    margin-right: 20px;
}

.fa-right-from-bracket {
    margin-right: 20px;
}





.content {
    width: 50%;
    height: 70%;
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addLink {
    margin: 20px 0;
    height: 80px;
    width: 90%;
    font-size: 2rem;
    color: var(--color2);
    background-color: var(--color4);
    border-radius: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: color 0.4s linear;
    position: relative;
    overflow: hidden;
    transition: .3s all ease-in-out;
}

.addLink::after {
    content: "";
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--color9);
    z-index: -1;
    transition: left 0.5s;
}

.addLink:hover {
    transform: scale(1.02);
}

.addLink:hover::after {
    left: 0;
}

.botao {
    width: 100%;
    display: flex;
    justify-content: center;
}

.links {
    width: 100%;
    height: 80%;
    border-top: 1px solid var(--color4);
    margin-top: 40px;
    padding: 40px 0;
    color: var(--color7);
    bottom: 100px;
}

.titulo {
    font-size: 3.2rem;
    padding-left: 10px;
    color: var(--color7);
}

.linksContent {
    max-height: 500px;
    overflow: scroll;
}

.linksContent::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    
}

.linksContent::-webkit-scrollbar-track {
    background: transparent;
    padding: 2px;
}

.linksContent::-webkit-scrollbar-thumb {
    background-color: var(--color9);
    border-radius: 4px;
    transition: .2s all ease-in-out;
}

.linksContent::-webkit-scrollbar-thumb:hover{
    background-color: var(--color4);
    border-radius: 4px;
}

.linkContent {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    margin-bottom: 10px;
}

.linkContent:hover {
    box-shadow: 2px 3px 10px 1px rgba(0, 0, 0, 0.08);
}

.link {
    font-size: 1.2rem;
    width: 85%;
    color: var(--color7);
    text-decoration: none;
}

a {
    text-decoration: none;
    color: var(--color7);
}

.options {
    width: 10%;
    display: flex;
    justify-content: space-between;
    color: var(--color7);
}

.editarLink {
    background-color: var(--color5);
    font-size: 1.3rem;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: none;
    outline: none;
    color: var(--color7);
    cursor: pointer;
}

.excluirLink {
    background-color: var(--color8);
    font-size: 1.3rem;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: none;
    outline: none;
    color: var(--color7);
    cursor: pointer;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 30px;
    background-color: var(--color5);
    color: var(--color3);
    bottom: 0;
    position: fixed;
}

.textFooter {
    font-weight: 200;
    font-size: .9rem;
}

#fade,
#modal {
    transition: .5s;
    opacity: 1;
    pointer-events: all;
}

#fade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    z-index: 5;
}

#modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: 10;
    width: 500px;
    max-width: 90%;
    padding: 1.2rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px  solid #ccc;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

.modal-body {
    margin-bottom: 1rem;
}

#modal.hide,
#fade.hide {
    opacity: 0;
    pointer-events: none;
}

#modal.hide {
    top: 0;
}